<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiroko.mapper.TeacherMapper">

    <resultMap id="TeacherVOMap" type="com.shiroko.repository.vo.teacher.TeacherVO">
        <id property="teacherId" column="id"/>
        <result property="username" column="username"/>
        <result property="isAvailable" column="is_available"/>
        <result property="isAdmin" column="is_admin"/>

        <association property="institution" javaType="com.shiroko.repository.entity.Institution">
            <id property="id" column="inst_id"/>
            <result property="institutionAddress" column="institution_address"/>
            <result property="institutionName" column="institution_name"/>
            <result property="institutionCode" column="institution_code"/>
        </association>
    </resultMap>

    <update id="updateBatchById">
    </update>

    <select id="getTeacherById" resultMap="TeacherVOMap">
        select t.*,
               i.id as inst_id,
               i.institution_address,
               i.institution_name,
               i.institution_code,
               IF(a.user_id IS NOT NULL, 1, 0) as is_admin
        from teacher as t
                 left join institution as i on t.institution_id = i.id
                 left join admin as a on t.user_id = a.user_id
        where t.id = #{teacherId}
    </select>

    <select id="getTeacherByInstitutionId" resultMap="TeacherVOMap">
        select t.*,
               i.id                            as inst_id,
               i.institution_address,
               i.institution_name,
               i.institution_code,
               IF(a.user_id IS NOT NULL, 1, 0) as is_admin
        from teacher as t
                 left join institution as i on t.institution_id = i.id
                 left join admin as a on t.user_id = a.user_id
        where t.institution_id = #{institutionId}
    </select>

</mapper>
