<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiroko.mapper.CourseMapper">

    <resultMap id="courseResultMap" type="com.shiroko.repository.dto.course.CourseDTO">
        <id property="id" column="id"/>
        <result property="courseName" column="course_name"/>
        <result property="courseType" column="course_type"/>
        <result property="available" column="is_available"/>
        <association property="institution" javaType="com.shiroko.repository.dto.institution.InstitutionDTO">
            <result property="id" column="institution_id"/>
            <result property="institutionName" column="institution_name"/>
            <result property="institutionAddress" column="institution_address"/>
            <result property="institutionCode" column="institution_code"/>
            <result property="status" column="status"/>
        </association>
        <association property="currentStudentCourseRecord"
                     javaType="com.shiroko.repository.dto.courserecord.CourseRecordDTO">
            <id property="id" column="course_record_id"/>
            <result property="courseId" column="course_id"/>
            <result property="studentId" column="student_id"/>
            <result property="courseStatus" column="course_status"/>
            <result property="courseLastTime" column="course_last_time"/>
            <result property="expireTime" column="expire_time"/>
            <result property="courseRestTime" column="course_rest_time"/>
            <result property="courseTotalTime" column="course_total_time"/>
        </association>
    </resultMap>

    <select id="selectCourseByInstitutionId" resultMap="courseResultMap">
        select c.*,
               i.id as institution_id,
               i.institution_name,
               i.institution_address,
               i.status
        from course as c
        left join institution as i on c.institution_id = i.id
        where c.institution_id = #{dto.institutionId}
        <if test="dto.keyword != null and dto.keyword != ''">
            and (c.course_name like concat('%', #{dto.keyword}, '%'))
        </if>
    </select>

    <select id="selectCourseByStudentId" resultMap="courseResultMap">
        select c.*,
               cr.id as course_record_id,
               cr.course_id,
               cr.student_id,
               cr.course_rest_time,
               cr.course_total_time,
               cr.course_status,
               cr.course_last_time,
               cr.expire_time,
               i.id as institution_id,
               i.institution_name,
               i.institution_address,
               i.institution_code,
               i.status
        from course as c
                 left join institution as i on c.institution_id = i.id
                 left join course_record as cr on c.id = cr.course_id
        where cr.student_id = #{dto.studentId}
    </select>
</mapper>
