<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiroko.mapper.ParentStudentMapper">

    <select id="selectAllBatchParents" resultType="com.shiroko.repository.vo.parent.ParentVO">
        SELECT
        p.username,
        p.id as parentId,
        ps.student_id as studentId,
        ps.relation,
        ps.is_primary as isPrimary,  <!-- 从中间表取值 -->
        p.phone
        FROM
        parent_student ps
        JOIN
        parent p ON ps.parent_id = p.id
        WHERE
        ps.student_id IN
        <foreach collection="studentIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>
