<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiroko.mapper.RecordMapper">

    <resultMap id="recordResultMap" type="com.shiroko.repository.dto.record.RecordDTO">
        <id column="id" property="id"/>
        <result column="course_record_id" property="courseRecordId"/>
        <result column="record_time" property="recordTime"/>
        <result column="record_type" property="recordType"/>
        <result column="record_remark" property="recordRemark"/>
        <result column="record_change" property="recordChange"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
        <association property="courseRecord" javaType="com.shiroko.repository.entity.CourseRecord">
            <id column="course_record_id" property="id"/>
            <result column="course_id" property="courseId"/>
            <result column="student_id" property="studentId"/>
            <result column="course_total_time" property="courseTotalTime"/>
            <result column="course_rest_time" property="courseRestTime"/>
            <result column="course_record_create_time" property="createTime"/>
            <result column="course_record_update_time" property="updateTime"/>
        </association>
        <association property="course" javaType="com.shiroko.repository.entity.Course">
            <id column="course_id" property="id"/>
            <result column="course_name" property="courseName"/>
            <result column="course_type" property="courseType"/>
            <result column="is_available" property="isAvailable"/>
            <result column="course_create_time" property="createTime"/>
            <result column="course_update_time" property="updateTime"/>
        </association>
        <association property="student" javaType="com.shiroko.repository.entity.Student">
            <id column="student_id" property="id"/>
            <result column="student_name" property="studentName"/>
        </association>
        <association property="operatorTeacher" javaType="com.shiroko.repository.entity.Teacher">
            <id column="teacher_id" property="teacherId"/>
            <result column="teacher_name" property="username"/>
        </association>
    </resultMap>

    <select id="selectRecords" resultMap="recordResultMap">
        select r.*,
               cr.id          as course_record_id,
               c.id           as course_id,
               cr.student_id,
               cr.course_total_time,
               cr.course_rest_time,
               cr.create_time as course_record_create_time,
               cr.update_time as course_record_update_time,
               c.course_name,
               c.course_type,
               c.is_available,
               c.create_time  as course_create_time,
               c.update_time  as course_update_time,
               s.student_name,
               s.id       as student_id,
               t.id       as teacher_id,
               t.username as teacher_name
        from record as r
                 left join course_record as cr on r.course_record_id = cr.id
                 left join course as c on cr.course_id = c.id
                 left join student as s on cr.student_id = s.id
                 left join teacher as t on r.operate_teacher_id = t.id
        where c.institution_id = #{dto.institutionId}
        order by r.record_time desc
    </select>
</mapper>
