<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiroko.mapper.ClassTeacherMapper">

    <insert id="insertBatch" parameterType="java.util.List">
        insert into class_teacher (class_id, teacher_id)
        values
        <foreach collection="classTeacherList" item="item" separator=",">
            (#{item.classId}, #{item.teacherId})
        </foreach>
    </insert>
</mapper>
