<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiroko.mapper.CourseRecordMapper">

    <select id="selectCourseCustomPage" resultType="com.shiroko.repository.entity.CourseRecord">
        SELECT
        cr.*,
        s.student_name AS stuName
        FROM course_record cr
        LEFT JOIN student s ON cr.student_id = s.id

        # 分享查询时，不关联权限记录
        <if test="!dto.isShare">
            INNER JOIN permission_record pr ON cr.id = pr.course_record_id
        </if>

        <where>
            cr.is_delete = 0

            <if test="!dto.isShare">
                AND pr.user_id = #{dto.userId}
            </if>

            <if test="dto.id != null">
                AND cr.id = #{dto.id}
            </if>

            <if test="dto.courseStatus != null">
                AND cr.course_status = #{dto.courseStatus}
            </if>

            # 搜索条件
            <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(dto.stuName)
                  or @org.apache.commons.lang3.StringUtils@isNotBlank(dto.courseName)
                  or @org.apache.commons.lang3.StringUtils@isNotBlank(dto.courseRemark)">
                AND (
                <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(dto.stuName)">
                    s.student_name LIKE CONCAT('%', #{dto.stuName}, '%')
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(dto.courseName)">
                    <choose>
                        <when test="@org.apache.commons.lang3.StringUtils@isNotBlank(dto.stuName)">OR</when>
                    </choose>
                    cr.course_name LIKE CONCAT('%', #{dto.courseName}, '%')
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(dto.courseRemark)">
                    <choose>
                        <when test="@org.apache.commons.lang3.StringUtils@isNotBlank(dto.stuName) or @org.apache.commons.lang3.StringUtils@isNotBlank(dto.courseName)">OR</when>
                    </choose>
                    cr.course_remark LIKE CONCAT('%', #{dto.courseRemark}, '%')
                </if>
                )
            </if>
        </where>

        ORDER BY cr.update_time DESC, cr.id DESC
    </select>

</mapper>
