<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiroko.mapper.CourseMapper">

    <resultMap id="courseResultMap" type="com.shiroko.repository.vo.course.CourseVO">
        <id property="id" column="id"/>
        <result property="courseName" column="course_name"/>
        <result property="courseType" column="course_type"/>
        <result property="available" column="is_available"/>
        <association property="institution" javaType="com.shiroko.repository.entity.Institution">
            <result property="id" column="institution_id"/>
            <result property="institutionName" column="institution_name"/>
            <result property="institutionAddress" column="institution_address"/>
            <result property="status" column="status"/>
        </association>
    </resultMap>

    <select id="selectCourseByInstitutionId" resultMap="courseResultMap">
        select c.*,
               i.id as institution_id,
               i.institution_name,
               i.institution_address,
               i.status
        from course as c
        left join institution as i on c.institution_id = i.id
        where c.institution_id = #{dto.institutionId}
        <if test="dto.keyword != null and dto.keyword != ''">
            and (c.course_name like concat('%', #{dto.keyword}, '%'))
        </if>
    </select>

    <select id="selectCourseByStudentId" resultMap="courseResultMap">
        select c.*,
               i.id as institution_id,
               i.institution_name,
               i.institution_address,
               i.status
        from course as c
                 left join institution as i on c.institution_id = i.id
                 left join course_record as cr on c.id = cr.course_id
        where cr.student_id = #{dto.studentId}
    </select>
</mapper>
