<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiroko.mapper.ParentStudentMapper">

    <select id="selectBatchPrimaryParents" resultType="com.shiroko.repository.vo.parent.ParentVO">
        SELECT
        ps.student_id as studentId,
        ps.relation,
        p.phone
        FROM
        parent_student ps
        JOIN
        parent p ON ps.parent_id = p.id
        WHERE
        ps.student_id IN
        <foreach collection="studentIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        <!-- 核心过滤：只取标记为主要的记录 -->
        AND ps.is_primary = 1
    </select>
</mapper>
