<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiroko.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.shiroko.repository.entity.Student">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="student_name" column="student_name" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,student_name,create_time,
        update_time
    </sql>
</mapper>
