<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiroko.mapper.TeacherMapper">

    <resultMap id="TeacherVOMap" type="com.shiroko.repository.vo.teacher.TeacherVO">
        <id property="teacherId" column="id"/>
        <result property="username" column="username"/>
        <association property="institution" javaType="com.shiroko.repository.entity.Institution">
            <id property="id" column="inst_id"/>
            <result property="institutionAddress" column="institution_address"/>
            <result property="institutionName" column="institution_name"/>
        </association>
    </resultMap>

    <select id="getTeacherById" resultMap="TeacherVOMap">
        select t.*,
               i.institution_address,
               i.institution_name
        from teacher as t
        left join institution as i on t.institution_id = i.id
        where t.id = #{teacherId}
    </select>

</mapper>
